.header {
  top: 0;
  left: 0;
  width: 100%;
   justify-content: space-between;


  padding: 10px 20px;
  align-items: center;
  padding: 20px;
  color: rgb(18, 18, 18);
  display: flex;
  justify-content: space-around;
  align-items: center;
  
  
}
.header img {
  height: 60px;
  right: 0px;
  left: -50px;
}

.header h1 {
  margin: 0;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}
.auth-buttons {
  display: flex;
  gap: 10px;
}

.login-button, .start-now-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-button {
  background-color: #f0f0f0;
  color: #333;
}

.start-now-button {
  background-color: #ff6347;
  color: #fff;
}

.login-button:hover, .start-now-button:hover {
  opacity: 0.8;
}

.header nav ul {
  list-style: none;
  display: inline-flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.header nav ul li a {
  color:black;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;

}

.header nav ul li a:hover {
  text-decoration: underline;
}


